# Node modules
/node_modules/

# Eleventy output directory (default is _site)
/_site/

# Eleventy cache directory
.cache/

# Editor/OS specific files
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.vscode/

# Environment variables
.env